.about {
  justify-content: center;
}

.about-title {
  margin: 0;
}

.paragraph {
  width: 80%;
  color: #000;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.inner-container {
  display: inline-flex;
  align-items: center;
  padding: 250px;
}

.photo {
  width: 300px;
  height: 350px;
  flex-shrink: 0;
  background: var(--Pink);
  border-radius: 50px;
}
