@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Epilogue", "Inter";
  margin: 0;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.page-container {
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  padding: 50px 50px 0;
}

.title {
  color: #000;
  font-family: Epilogue;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 50px;
  margin-top: 50px;
}
