@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Green: #94f8ca;
  --Purple: #b6bef4;
  --Teal: #8ae8e1;
  --Pink: #f9c3c2;
  --Yellow: #f5eeb3;
}

body {
  font-family: "Epilogue", "Inter";
  margin: 0;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.page-container {
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  padding: 50px 100px 0;
  flex-direction: column;
}

.title {
  color: #000;
  font-family: Epilogue;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
}
